# Maven target directory
/target/

# Logs
*.log

# Eclipse
.classpath
.project
.settings/

# IntelliJ
.idea/
*.iml
out/

# NetBeans
/nbproject/private/
/build/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

# VS Code
.vscode/

# MacOS
.DS_Store

# Windows
Thumbs.db
desktop.ini
